html, body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    clear: both;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: steelblue;
    list-style: none;
    position: relative;
    display: inline-table;
    text-align: center;
    float: right;
    margin-right: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
    color: black;
}

nav ul li:hover {
    background: lightgray;
}


nav ul li:hover a {
    color: black;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

nav ul ul {
    background: steelblue;
    position: absolute;
    padding: 0;
    top: 100%;
    color: black;
    margin-bottom: 59px;
}

nav ul ul li {
    float: none;
    border-top: 1px solid white;
    position: relative;
}

/*#topnavbar {*/
    /*background-color: black;*/
    /*overflow: hidden;*/
/*}*/

#logo {
    float: left;
}

#sideborder {
    width: 200px;
    padding-top: 15px;
    padding-bottom: 100%;
    border-right: 5px black solid;
    float: left;
    text-align: center;
}

#sidebordertext {
    padding-top: 15px;
}

p {
    padding-left: 230px;
}

h1 {
    text-align: center;
}

h2 {
    padding-left: 230px;
}

body {
    background-color: lightgray;
}

a[href $= '.pdf'] {
    padding-right: 18px;
    background: transparent url(hyperlinkcueexamples/icon_pdf.gif)
                no-repeat center right;
}

a[href ^="https"] {
    padding-right: 18px;
    background: transparent url(hyperlinkcueexamples/icon_external.gif)
                no-repeat center right;
}

p, li, div {
    font-family: 'Flamenco', monospace;
    font-size: 24px;
}

h1 {
    font-family: 'Flamenco', monospace;
    font-size: 36px;
}

ul {
    padding-left: 230px;
}