html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;
    float: right;
}

nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: steelblue;
    list-style: none;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul:after {
    content: "";
    clear: both;
    display: block;
}

nav ul li {
    float: left;
    color: black;
}

nav ul li:hover {
    background: lightgray;
}

nav ul li:hover a {
    color: black;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    text-align: center;

}

nav ul ul {
    background: steelblue;
    position: absolute;
    padding: 0;
    top: 100%;
    color: black;
    margin-bottom: 59px;
}

nav ul ul li {
    float: none;
    border-top: 1px solid white;
    position: relative;
}

#logo {
    float: left;
}

.sideborder {
    width: 200px;
    padding-top: 15px;
    height: 1000px;
    border-right: 5px black solid;
    float: left;
    text-align: center;
}

.sideborder1 {
    width: 200px;
    padding-top: 15px;
    height: 6000px;
    border-right: 5px black solid;
    float: left;
    text-align: center;
}

.sideborder2 {
    width: 200px;
    padding-top: 15px;
    height: 3200px;
    border-right: 5px black solid;
    float: left;
    text-align: center;
}

.sideborder3 {
    width: 200px;
    padding-top: 15px;
    height: 7000px;
    border-right: 5px black solid;
    float: left;
    text-align: center;
}

.sidebordertext {
    padding: 15px;
    font-size: 18px;
}

body {
    background-color: lightgray;
}

a[href $= '.pdf'] {
    padding-right: 18px;
    background: transparent url(hyperlinkcueexamples/icon_pdf.gif)
                no-repeat center right;
}

a[href ^="https"] {
    padding-right: 18px;
    background: transparent url(hyperlinkcueexamples/icon_external.gif)
                no-repeat center right;
}

p, li, div, strong, em {
    font-family: 'Flamenco', monospace;
    font-size: 24px;
}

p {
    padding-left: 230px;
}

strong {
    padding-left: 230px;
    display: block;
}

em {
    padding-left: 230px;
    display: block;
}

a {
    font-family: 'Flamenco', monospace;
}

h1 {
    font-family: 'Flamenco', monospace;
    font-size: 36px;
    margin-top: 75px;
    text-align: center;
}

h2 {
    padding-left: 230px;
    font-family: 'Flamenco', monospace;
    font-size: 30px;
}

h3 {
    padding-left: 230px;
}

ul {
    padding-left: 260px;
}

#ensembles_committee {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    margin-top: 50px;
    font-family: 'Flamenco', monospace;
}

caption {
    font-weight: bold;
}

 ul#menu li.current a
{ color: #FFFF00;
    background: #323232;
    text-shadow: none;
}

 ul#menu li.buyTickets a
{ color: orange;
    background: #FF8E11
    text-shadow: none;
}


ul#menu li ul li.current a
{ color: lightyellow;
    background: #E9484B;
    text-shadow: none;
}

.toppic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.imgevent {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}

a:hover {
    color: black;
}

ol {
    list-style-type: none;
    padding-left: 230px;
}

.generalname, .generalemail, .comments, .contribute, .benefactorname, .benefactoridentity, .benefactoraddress, .benefactoremail, .benefactorphone, .benefactormobile, .benefactorsignature, .membertitle1, .memberfamilyname1, .membergivenname1, .membertitle2, .memberfamilyname2, .membergivenname2, .memberchildrennamedob, .memberchildrennamedob1, .memberchildrennamedob2, .memberchildrennamedob3, .memberaddress, .memberphone, .memberemail, .memberpaymentoptions, .memberregistrationinstruments, .memberregistrationqualifications, .memberregistrationexperience {
    display: block;
    margin-left: 230px;
    margin-top: 15px;
    font-family: 'Flamenco', monospace;
}

#generalname, #generalemail, #comments, #contribute, #benefactorname, #benefactoridentity, #benefactoraddress, #benefactoremail, #benefactorphone, #benefactormobile, #benefactorsignature, #membertitle1, #memberfamilyname1, #membergivenname1, #membertitle2, #memberfamilyname2, #membergivenname2, #memberchildrennamedob1, #memberchildrennamedob2, #memberchildrennamedob3, #memberaddress, #memberphone, #memberemail, #memberassistcomment, #memberassistplayer, #memberassistmanagement, #memberassistsupport, #memberassistfundraising, #memberassistmarketing, #memberassistsponsorship, #memberassistpublishing, #memberregistrationinstruments, #memberregistrationqualifications, #memberregistrationexperience {
    margin-left: 25px;
}

#generalform {
    display: none;
}

#benefactorform {
    display: none;
}

#memberform {
    display: none;
}

.formradiobutton {
    font-size: 16px;
    font-family: 'Flamenco', monospace;
    margin-bottom: 50px;
}

.memberchecklist {
    display: table-row;
    font-family: 'Flamenco', monospace;

}